.design {
    font-size: 13px;
    line-height: 12px;
    text-align: center;
    color: black;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
.output {
    font-size: 5px;
    line-height: 10px;
    color: white;
}
li {
    list-style: none;
}
button {
    margin-bottom: 40px;
}
.tip {
    color: red;
    font-size: 10px;
    margin: 2px;
}